#day-container {
  display: none; }

#cntr-generate-day {
  width: 60%;
  height: 50px;
  margin: 20px auto;
  float: center; }

#cntr-main {
  margin: 0 auto;
  float: center; }

#cntr-background-img {
  /*background-image: url(../img/rio.jpg);*/ }
  #cntr-background-img img {
    position: absolute;
    z-index: -1;
    width: 100% !important;
    height: 100% !important; }
