#cntr-main
{
	margin:50px auto;
	float:left;
}

#cntr-generate-day
{
	width: 60%;
	height: 50px;
	margin:20px auto;
	float:center;

	p
	{
		color : FFFFFF;
		text-shadow: 2px 2px 2px 111111;
		font-size: 16pt;
		font-weight: bold;
		font-family: Lucida;
	}

	button
	{
		border-radius: 20px;
		background-color: 34D800;

		color: FFFFFF;
		text-shadow: 2px 2px 2px 111111;
		font-size: 20pt;
		font-weight: bold;

		height: 60px;
		width: 250px;
		margin: 0 auto;
		float:center;
		display: block;
	}
}

/*BEGIN About*/

#cntr-about-btn
{
	text-align: center;
	width: 25%;
	margin:0px auto;
	float:center;
}

#btn-about
{
	color : FFFFFF;
	text-shadow: 2px 2px 2px 111111;
	font-size: 18pt;
	font-family: Lucida;
	font-weight: bold;
}

#btn-about:hover
{
	cursor:pointer;
}

#cntr-info
{
	margin:100px auto;
	float:left;

	p
	{
		color : FFFFFF;
		text-shadow: 2px 2px 2px 111111;
		font-size: 16pt;
		font-weight: bold;
		font-family: Lucida;
	}
}

/*END About*/

#cntr-title
{
	h1
	{
		color : FFFFFF;
		text-shadow: 2px 2px 2px 111111;
		font-size: 36pt;
		font-family: Lucida;
		margin-bottom: 0px;
	}

	text-align: center;
	margin:0 auto;
	float:center;
}

#cntr-background-img {
    img
    {
		position: absolute;
    	z-index: -1;
    	width: 100% !important;
    	height: 100% !important;
    }
}

.initially-hidden
{ 
	display: none; 
}