#cntr-main
{
	margin-top: 50px;
	margin-left: 80px;

	float:left;

	background-color: rgba(33,33,33,0.2);
	border-radius: 20px;
}

#cntr-title
{
	h1
	{
		color : FFFFFF;
		text-shadow: 1px 1px 1px 111111;
		font-size: 36pt;
		font-family: Lucida;
		margin-bottom: 0px;
	}

	text-align: center;
}

#cntr-info
{
	margin-top: 50px;
	margin-right: 80px;

	float:right;
	background-color: rgba(33,33,33,0.2);
	border-radius: 20px;
	padding: 10px;

	p
	{
		color : FFFFFF;
		text-shadow: 1px 1px 1px 111111;
		font-size: 16pt;
		font-weight: bold;
		font-family: Lucida;
	}
}

#cntr-generate-day
{
	width: 60%;
	height: 110px;
	margin:20px auto;
	float:center;

	p
	{
		color : FFFFFF;
		text-shadow: 1px 1px 1px 111111;
		font-size: 16pt;
		font-weight: bold;
		font-family: Lucida;
		text-align:center;
		width: 100%;
	}

	button
	{
		border-radius: 20px;
		background-color: 34D800;

		color: FFFFFF;
		text-shadow: 1px 1px 1px 111111;
		font-size: 20pt;
		font-weight: bold;

		height: 60px;
		width: 250px;
		margin: 0 auto;
		float:center;
		display: block;
	}
}

/*BEGIN About*/

#cntr-about-btn
{
	margin:0px auto;
	text-align: center;

	width: 25%;
}

#btn-about
{
	color : FFFFFF;
	text-shadow: 1px 1px 1px 111111;
	font-size: 18pt;
	font-family: Lucida;
	font-weight: bold;
}

/*END About*/

#cntr-background-img {
    img
    {
		position: absolute;
    	z-index: -1;
    	width: 100% !important;
    	height: 100% !important;
    }
}

.initially-hidden
{ 
	display: none; 
}

.mouse-hover-pointer:hover
{
	cursor: pointer;
}