#cntr-generate-day
{
	width: 40%;
	height: 50px;
	margin:20px auto;
	float:center;
}

#cntr-about-btn
{
	width: 40%;
	height: 50px;
	margin:20px auto;
	float:center;
}

#cntr-title
{
	h1
	{
		color : FFFFFF;
		text-shadow: 2px 2px 2px 111111;
		font-size: 36pt;
		font-family: Lucida;
	}

	p
	{
		color : FFFFFF;
		text-shadow: 2px 2px 2px 111111;
		font-size: 16pt;
		font-weight: bold;
		font-family: Lucida;
	}

	text-align: center;
	margin:0 auto;
	float:center;
}

#cntr-main
{
	margin:50px auto;
	float:left;
}

#cntr-about
{
	margin:50px auto;
	float:left;

	p
	{
		color : FFFFFF;
		text-shadow: 2px 2px 2px 111111;
		font-size: 16pt;
		font-weight: bold;
		font-family: Lucida;
	}
}

#cntr-background-img {
    img
    {
		position: absolute;
    	z-index: -1;
    	width: 100% !important;
    	height: 100% !important;
    }
}

.initially-hidden
{ 
	display: none; 
}