<!DOCUMENT html>
<hmtl>
	<head>
 		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<!-- Bootstrap -->
    	<link rel="stylesheet" href="static/css/bootstrap.min.css" media="screen">
		<link rel="stylesheet" href="static/css/base.css"></link>
	</head>

	<body>

		<div id="cntr-background-img">
			<img src="static/img/rio.jpg" alt="Background Image" title="Background Image" />
		</div>

		<div class="row">

			<div id="cntr-main" class="col-lg-5">
				<div id="cntr-title" class="container">
			    	<h1 id="btn-home" class = "mouse-hover-pointer">What a Day: Rio</h1>
					<div id="cntr-about-btn">
				    	<p id="btn-about" class = "mouse-hover-pointer">About</p>
				  	</div>
			 	</div>

				<div id="cntr-generate-day">
			    	<p>Plan a legendary day at Rio de Janeiro</p>
			    	<button id="btn-generate-day" class="btn">
			    		New Day Plan
			    	</button>
			  	</div>
		  	</div>

		  	<div id="cntr-info" class="col-lg-5">

		  		<div id="ctnr-day-plan" class = "initially-hidden">
		  			<p>We are still working on this feature.</p>
		  			<p>Sent us your email so we can contact you asap</p>
		  			<div class="input-group">
					    <input type="text" class="form-control">
					    <span class="input-group-btn">
					    	<button class="btn btn-default" type="button">Go!</button>
					    </span>
				    </div>
		  		</div>

		  		<div id="cntr-about" class = "initially-hidden">
					<p>Do you ever wandered: What can you I do today?</p>
					<p>Should I go to the beach or the movies? If I go to the movies, is there a nice restaurant near it? Is their food too pricey?</p>
					<p>"What a Day" is an app that take all this questions away. We create awesome days plans, so you can just focus on having fun!</p>
					<p style="color:orange;">Currently working only for Rio de Janeiro.</p>
				</div>
		  	</div>
		</div>
	
		<script src="//code.jquery.com/jquery.js"></script>
    	<!-- Include all compiled plugins (below), or include individual files as needed -->
   		<script src="static/js/bootstrap.min.js"></script>

   		<script>
			$(document).ready(function(){

				function toggleDay(toggle){

				    toggleInfoBox(false);
				    $("#ctnr-day-plan").clearQueue();
					$("#ctnr-day-plan").fadeOut(0);

				    if (toggle)
				    {
				    	toggleInfoBox(true);
						$("#ctnr-day-plan").delay(250);
						$("#ctnr-day-plan").fadeIn(200);
				    }
				}

				function toggleAbout(toggle){
					toggleInfoBox(false);
					$("#cntr-about").clearQueue();
					$("#cntr-about").fadeOut(0);

				    if (toggle)
				    {
				    	toggleInfoBox(true);
						$("#cntr-about").delay(250);
						$("#cntr-about").fadeIn(200);
				    }
				}

				function toggleInfoBox(toggle){
					if (toggle)
						$("#cntr-info").fadeIn(0);
					else
						$("#cntr-info").fadeOut(0);
				}

				toggleInfoBox(false);

				$("#btn-generate-day").click(function(e){
					toggleAbout(false);
					toggleDay(true);
				});

				$("#btn-about").click(function(e){
					toggleDay(false);
					toggleAbout(true);
				});

				$("#btn-home").click(function(e){
					toggleDay(false);
					toggleAbout(false);
				});
			});
		</script>

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			
			ga('create', 'UA-43823080-1', 'whataday.herokuapp.com');
			ga('send', 'pageview');
		</script>
	</body>
	
</html>